.Navbar-home {
  padding: 20px;
  height: 80px;
  background-color: white;

  h1 {
    font-size: 36px;
    line-height: 35px;
    color: white;
  }

  .navbar-content {
    display: flex;
    align-items: center;
    justify-content: end !important;
  }
}
