.modal-general {
  width: 800px !important;
  border-radius: 24px;
  .modal-content-sesion {
    text-align: center;
    p {
      text-align: center;
      font-size: 32px;
      font-weight: 375;
      line-height: 44px;
      color: #244b5a;
    }

    label {
      font-size: 17px;
      font-weight: 400;
      line-height: 24px;
      color: #244b5a;
    }

    span {
      font-size: 17px;
      font-weight: 400;
      line-height: 24px;
      color: #244b5a;
    }

    .container_button_modal {
      display: flex;
      justify-content: center;
      margin: 30px 0 6px;
    }
  }
}
