.password-code {
  .card-content {
    align-content: center;
    width: 70%;
    height: 510px;
    border-radius: 20px;
  }

  .text-input-code {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .password-code {
    .card-content {
      width: 55%;
    }

    .text-input-code {
      font-size: 20px;
    }
  }
}
